<div *ngIf="id">
    <div class="movie-info">
        <img class="movie-info__poster" 
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{tv.poster_path}}">
        <div class="movie-info__description">
            <div class="description__title">{{tv.original_name}}</div>
            <div class="description__date">{{tv.first_air_date}}</div>
            <div class="description__overview">{{tv.overview}}</div>
        </div>
    </div>
    <input id="1" type="button" (click)="choose()" 
    class="movie-info__button" [value]="valueButton">
    <!-- <div>
        <p class="suggested">You may also like these tvs :) </p>
    </div> -->
</div>