@import '../constants.scss';
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar.mat-primary {
    background-color: $dark-grey;
}

.mat-drawer {
    background-color: $dark-grey;
}

.mat-nav-list .mat-list-item {
    color: $white;
}

.mat-nav-list .mat-list-item:hover {
    color: $light-purple;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    color: $white;
}

.mat-drawer-container {
    background: none;
}

.mat-drawer-container {
    background: $light-grey;
}