// $soft-purple: #a88bb2;
// $light-purple: #a3c2e0;
// $light-grey: #576ca9;
// $dark-grey: #434e74;
// $lilac: #e6ddee;
// $red: red;
$soft-purple: #ecdc00;
$light-purple: #e7cc00;
$light-grey: #272727;
$dark-grey: #ffc73c;
$line: #ffb700;
$lilac: #c2c2c2;
$red: red;