@import '../../constants.scss';
div {
    position: absolute;
    width: 30%;
    input {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        height: 30px;
        width: 80%;
        background-color: transparent;
        font-size: 12px;
        outline: none;
        color: $lilac;
        border: 1px solid $lilac;
        border: 0;
        border-bottom: 1px solid $lilac;
        &::placeholder {
            opacity: 0.5;
            color: $light-purple;
            text-shadow: none;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            background: url('../../../assets/images/close-icon.png') center no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }
    .search-icon {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        color: $lilac;
        transition: 0.1s;
        &:hover {
            transition: 0.3s;
            color: $lilac;
            text-shadow: 0px 0px 15px $lilac;
        }
    }
}