@import '../../constants.scss';

.scroll-button {
    position: fixed;
    height: 32px;
    width: 32px;
    bottom: 20px;
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 100%;
    background-color: $light-purple;
    opacity: 0.5;
    cursor: pointer;
    &-icon {
        width: 80%;
        text-align: center;
        transform: rotate(180deg);
    }
    &:hover {
      opacity: 1;
      // background-color: $light-purple;
      // border: 5px solid $lilac;
      transition: 0.3s;
  }
}