@import '../../constants.scss';

.library-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.library-status {
    margin-top: 15px;
    text-align: center;
    color: $lilac;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}