@import '../../constants.scss';
@import '../movie-list/movie-list.component.scss';
@import '../movie-card/movie-card.component.scss';
.movie-info {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .movie-info__poster {
        width: 20%;
        height: 100%;
        border: 10px solid $light-purple;
        transition: 0.5s;
        &:hover {
            transition: 0.5s;
            border: 10px solid $soft-purple;
        }
    }
    .movie-info__description {
        display: block;
        width: 35%;
        margin-left: 25px;
        .description__title {
            color: $light-purple;
            font-size: 2em;
            text-transform: uppercase;
        }
        .description__date {
            color: $soft-purple;
            font-size: 1em;
        }
        .description__overview {
            margin-top: 20px;
            color: $lilac;
            font-size: 1.2em;
        }
    }
}

.movie-info__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: none;
    border-radius: 50px;
    color: $light-purple;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 65%;
    background-color: $light-grey;
    border: 2px solid $light-purple;
    &:hover {
        background-color: $light-purple;
        color: black;
    }
}

.movie-info__suggested {
    margin-top: 15px;
    text-align: center;
    color: $lilac;
    font-size: 1.2em;
    text-transform: uppercase;
}