@import '../../constants.scss';
.block {
    width: 100%;
    height: 100px;
    background-color: $light-grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        font-size: 20px;
        text-decoration: none;
        margin-left: 20px;
        color: $light-purple;
        &:hover {
            color: $white;
        }
    }
}