@import '../constants.scss';
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-drawer {
    background-color: $dark-grey;
}

.mat-nav-list .mat-list-item {
    color: $lilac;
    &:hover {
        transition: 0.3s;
        text-shadow: 0px 0px 10px $lilac;
    }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    color: $lilac;
}

.mat-drawer-container {
    background: none;
}

.mat-drawer-container {
    background: $light-grey;
}