@import '../../constants.scss';
.header-nav {
    height: 100px;
    background-color: $light-grey;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__header-nav-links a{
        font-size: 20px;
        text-decoration: none;
        margin-left: 20px;
        color: $light-purple;
        &:hover {
            transition: 0.3s;
            color: $lilac;
            text-shadow: 0px 0px 10px $lilac;
        }
    }
}