@import '../../constants.scss';

.header-nav {
  height: 100px;
  background-color: $light-grey;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  &__search {
    width: 230px;
    height: 10px;
  }

  &__header-nav-links {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 10px;

    a {
      font-size: 20px;
      text-decoration: none;
      margin-left: 20px;
      color: $light-purple;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        color: white;
        // text-shadow: 0px 0px 10px $lilac;
      }

      &:last-child {
        color: #845a00;
      }
    }

  }
}
